extends layout

block content
  div#panel-signin.panel.panel-default
    div.panel-heading
      h1.panel-title Please Sign In
    div.panel-body
      form(action='/login', method='post')
        div.form-group
          label(for="email").sr-only Email address
          input(id="email", name='email', placeholder="Email address", required=true, autofocus="", type="email").form-control
        div.form-group
          label(for="password").sr-only Password
          input(id="password", name='password', placeholder="Password", required=true, type="password").form-control
        button(type=submit).btn.btn-primary.btn-block Sign in