extends layout

block nav
  nav
    ul.nav.nav-pills.nav-justified
      if nav === 'movies'
        li.active: a(href='/movies') Movies
      else
        li: a(href='/movies') Movies
      if nav === 'movie_sessions'
        li.active: a(href='/movie_sessions') Sessions
      else
        li: a(href='/movie_sessions') Sessions
      if nav === 'bookings'
        li.active: a(href='/bookings') Bookings
      else
        li: a(href='/bookings') Bookings